<div [ngClass]="setClasses()">
    <p>
        <input (input)="onToggle(todo)" type="checkbox">
        {{ todo.title }}
        <button (click)="onDelete(todo)" class="del">X</button>
    </p>
</div>
